body {
  font-family: Roboto, sans-serif;
}

.text-blue {
  color: #0d6efd;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, .2);
}

.ant-layout {
  min-height: 100vh;
}

.ant-layout-sider{
  flex: 0 0 250px !important;
  max-width: 250px !important;
  min-width: 250px !important;
  width: 250px !important;
}

.ant-layout-sider-collapsed {
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;
}

.sm-logo {
  display: none;
}

.ant-layout-sider-collapsed .sm-logo {
  display: block;
}

.ant-layout-sider-collapsed .lg-logo {
  display: none;
}

.logo {
  background-color: #ffd333;
  margin: 0;
  height: 64px;
}

main {
  overflow-y: hidden;
}

/***** Inicio *****/ 
.inicio {
  background-color: hsl(0, 0%, 92%);
}

.clock {
  margin-top: 20px !important;
}

.clock__space-button {
  display: flex;
  justify-content: center;
  max-width: 520px;
}

.clock__button {
  display: flex;
  align-items: center;
  background-color: #3B3A3A;
  width: 250px;
  height: 18px;
  border-radius: 20px 20px 0px 0px;
}

.clock__display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3B3A3A;
  height: 200px;
  width: 400px;
  border-radius: 30px;
  border-width: 200px;
  border: 10px solid white;
}

.display__date h1 {
  margin-top: 20px;
  font-size: 45px;
  color: #27FFEC; 
  font-family: 'DS-Digital', sans-serif;                                           
}

.display__date p#dia {
  text-align: center;
  font-size: medium;
  text-transform: uppercase;
  color: white;
  height: 2px;
}

.display__hours h1 {
  font-size: 92px;
  color: #27FFEC; 
  font-family: 'DS-Digital', sans-serif;                                           
}

.clock__supports {
  display: flex;
  justify-content: space-around;
  max-width: 520px;
  background-color: #59AACC;
  height: 30px;
  border-radius: 50%
}


.clock__supports .support {
  background-color: #3B3A3A;
  width: 60px;
  height: 10px;
  border-radius: 0px 0px 10px 10px;
}

.clock__customer {
  margin-top: 7px;
  flex-direction: column;
  align-items: center;
}
.clock__customer p {
  font-weight: 400;
  font-size: 18px;
  margin-left: 5px;
  height: 20px;
}

.clock__customer p#enterprise {
  
}

.clock__customer p#role {
  font-weight: 500;
}
/***** End Inicio *****/

/***** Listagem Empresas *****/  
.list-empresas .iconsearch {
  cursor: pointer;
}

.inputFiltro {
  height: 24px;
  border-radius: 4px;
}

.inputFiltro:focus {
 box-shadow: 0 0 0 0;
 outline: 0;
}

.custom-table-row.ant-table-row-selected > .ant-table-cell{
  background-color: #ba80f0 !important;
}

.formInput {
  height: 55px !important;
}

.ant-modal-title {
  text-align: center;
  font-size: 30px !important;
  margin-bottom: 30px !important;
}

.ant-btn {
  padding: 18px 23px !important;
  font-size: 18px !important;
}

.ant-modal-content {
  bottom: 83px;
}

.ant-modal-wrap {
  overflow: hidden !important;
}


/***** Fim Listagem Empresas *****/

/***** Listagem Funcionários *****/ 
.tabelaAssoc_linhas {
  border: 1px solid rgb(0, 0, 0);
}

.tabelaAssoc_linhas_titulo {
  height: 32px;
}

.linha {
  border-right: 1px solid black;
}

.text-projetos {
  margin-top: 5px;
  text-align: center;
  color: rgb(65, 64, 64);
  font-size: 18px;
}
 
/***** End Listagem Funcionários *****/

/***** ApontamentosFuncionario *****/ 
.apontamentosTitle {
  font-size: 25px;
  margin: 2px;
  font-weight: 600;
}

.apontamentosFuncionario {
  font-size: 23px;
  margin: 2px;
  font-weight: 400;
}

.tabelaApontamentos.ant-table-wrapper .ant-table-thead >tr>th {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
.tabelaApontamentos.ant-table-wrapper .ant-table-thead >tr>th:nth-child(12) {
  border-right: 0px solid black;
}
.tabelaApontamentos.ant-table-wrapper .ant-table-container table>thead>tr:first-child >*:last-child {
  border-start-end-radius: 0 !important;
}
.tabelaApontamentos.ant-table-wrapper .ant-table-tbody >tr >td {
border-color: black;
border-right: 0.1px solid black;
}
.tabelaApontamentos.ant-table-wrapper .ant-table-tbody >tr >td:nth-child(12) {
border-right: 0.0px solid rgb(0, 0, 0);
}
/***** End ApontamentosFuncionario *****/

